<!DOCTYPE HTML>
<html>

<head>

	<title>Add</title>
	<link rel="stylesheet" href="/css/addseries.css">
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/footer.css">
</head>

<body>
	<%- include('header');  %>	
	<div id="serie">
		
		<div>
			<img src='data:image/<%=data.serie.format%>; base64, <%= data.serie.img %> '>

		</div>

		<div id="serie-block">

	    		<h1><%= data.serie.title %></h1>
	    		<p>Genre: <%= data.serie.genre  %></p>
	    		<p>Episodes: <%= data.serie.eps  %></p>
	   		<p>Seasons: <%= data.serie.temps  %></p><br>		
			<%if (locals.user != undefined ) { %>
				<% if (data.serie.met == 'post') { %>
					<h2>Add serie to your profile</h2>
				<% } else {  %>
					<h2> Update your serie  </h2>
				<% }  %>
				<form method='post' action='http://localhost:8000/addseries'>
					<input id="eps" name="eps" placeholder="Episodes" type="text"><br>
					<input id="temps" name="temps" placeholder="Seasons" type="text"><br>
					<input id="stars" name="stars" placeholder="Stars" type="text"><br>
					<input type="hidden" name="serieid" value="<%= data.serie.id %>">
					<input type="hidden" name="userid" value="<%= user.user.id %>">
					<% if (data.serie.met == 'post') { %>
					<input type="submit" class="click-button" value="clicar"><br>
					
					<% } else { %>
					<input type="hidden" id="uniqueid" value="<%= data.serie.processid  %>">
					<input type="button" class="click-button"onclick="updateserie()" value="Sou PUT"><br>
					<% }  %>
				</form>
			<% }  %>
			</div>
		


	</div>
	
	<%- include('footer');  %>
	
	<script src="/js/redirects.js"></script>
</body>



<html>

