<!DOCTYPE HTML>

<html>

<head>

	<title>Profile</title>
	<link rel="stylesheet" href="/css/profile.css">
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/footer.css">
</head>

<body>
	<%- include('header');  %>
	<div id="main">

		<div id="firts-part">

			<h1><%= locals.user.name  %></h1>
			<div id="infos">
				
			</div>

		</div>

		<div id="second-part">
			<% for (i in locals.series) { %>
				<div class="serie">
					<div id="about">r>
					<div id="about-1">	
					<img src="data:image/<%= series[i].format %>; base64, <%= series[i].img%>"><br>
					<input type="button" value="X" onclick="deleteserie(<%= locals.series[i].processid %>)">
					<input type="button" value="Edit" onclick="getserie(<%= locals.series[i].idserie %>, <%= locals.user.id %>)">
					
					</div>
					<div id="about-2">
					<h1 class="text-style"><%= locals.series[i].title  %></h1><br>
					<p class="text-style">Your Stars: <%= locals.series[i].stars %></p><br>
					<p class="text-style">Serie Rate: <%= locals.series[i].starsAVG  %></p><br>
					<h2 class="text-style">Temporadas</h2><br>
					<p class="text-style">Disponíveis: <%= locals.series[i].temps  %></p>
					<p class="text-style">Assistidos: <%= locals.series[i].tempsa  %></p><br>
					<h2 class="text-style">Episódios</h2><br>
					<p class="text-style">Disponíveis: <%= locals.series[i].eps  %></p>
					<p class="text-style">Assistidos: <%=locals.series[i].epsa%></p>
					</div>
			
				</div>	

				</div>
			<% }  %>
		
		</div>

	</div>

	<%- include('footer');  %>

	<script src="/js/redirects.js"></script>
</body>

</html>
